@charset "UTF-8";
/* CSS Document */

/*TYPOGRAPHY*/
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 300;
}

.big-heading {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 400;
}

.section-heading {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
    margin: 50px 0;
}

.left-align {
    text-align: left;
}

/*IMAGES*/
.img-medium {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  margin: 50px 0;
}

.img-large {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin: 50px 0;
}

/*SECTIONS*/

.white-section {
    background-color: white;
}

.coloured-section {
    background-color: #290001;
    color: #fff;
}

/*VIDEO*/

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

body {
    
}

.container-fluid {
/*    margin: 100px 0;*/
}

/*HOME*/

#home {
    text-align: center;
    background-image: url("../images/cover-piano-edit.jpg");
    
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
    padding: 0px 0 200px;
    color: white;
}

.img-logo {
/*    width: 100%;*/
    max-width: 30%;
/*    height: auto;*/
    margin: 250px 0 50px;
    filter: invert()
}


/*MEET DEON*/

#meet-deon {
    text-align: center;
    padding: 0 12% 100px;
}

.meet-button {
    margin: 50px 0 0;
}

/*FEATURES*/

#features {
    text-align: center;
}

.feature-set {
  padding: 5%;
}

.feature-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 5% 0 2%;
}

/*PRICING*/

.pricing-title {
    padding: 5% 0 3%; 
}

.pricing-body {
    padding: 0 7%;
}

.pricing-button {
    margin: 0 0 30px;
}

/*TESTIMONIALS*/

#testimonials {
    text-align: center;
}

.testimonial-text {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem;
}

.carousel-text {
    padding: 5% 20%;
}

.testimonial-image {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

#deon-intro {
/*  position:relative;*/
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*PRICING*/

#piano-pricing {
    text-align: center;
  padding: 1.25rem;
}

#guitar-pricing {
    text-align: center;
  padding: 1.25rem;
}

.pricing-column {
  padding: 2% 3%;
}

.card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
}

/*CONTACT US*/

#contact-us {
    text-align: center;
    padding: 0 15%;
    
/*
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
*/
}

#contact-us {
    background-color: #290001;
    color: #fff;
    padding: 0 15% 100px;
}

.contact-container {
/*
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
*/
    margin-top: 30px; 
}

/*
.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
*/

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.contact-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact {
    position: relative;
/*    min-height: 100vh;*/
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    background-image:url("../images/cover-piano-edit.jpg");*/
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

/*CONTACT US FORM*/

.contactForm {
/*    width: 40%;*/
    padding: 40px;
    background: #fff;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea 
{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span, 
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span 
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm h2 {
    color:black;
}

/*ABOUT*/
.below-nav {
    margin: 250px 0px 50px;
}

.about-text {
    padding: 2% 0;
    line-height: 1.8;
}
    
/* FOOTER */

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #87431d;
    color: #fff;
}

.f-icon {
     padding: 2% 1%;  
}
 
