@charset "UTF-8";
/* CSS Document */

/*Typography*/

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 400;
}

body {
    text-align: center;
}

.home {
    background-image: url("../images/cover-piano.jpg");
    
    
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
    padding: 0px 0 100px;
    color: white;
}

.img-logo {
/*    width: 100%;*/
    max-width: 30%;
/*    height: auto;*/
    margin: 250px 0 50px;
}

.img-medium {
     max-width: 30%;
    height: auto;
    border-radius: 50%;
    
}

.meet-deon {
    background-color: white;
    padding: 100px;
}

.features {
/*    height: 100px;*/
/*    position: relative;*/
}

#deon-intro {
/*  position:relative;*/
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.meet-button {
    position:relative;
/*    margin: 400px 0;*/
   bottom: 300px;
/*    z-index: 1;*/
}

.white-section {
    background-color: white;
}

.coloured-section {
    background-color: aquamarine;
}

#piano-pricing {
  padding: 1.25rem;
}

#guitar-pricing {
  padding: 1.25rem;
}

.pricing-column {
  padding: 2% 3%;
}
