@charset "UTF-8";
/* CSS Document */

/*NEEDED FOR BACKGROUND IMAGES TO DISPLAY FULL SCREEN*/

body, html {
  height: 100%;
}

/*CHANGE ICONS COLORS TO ORIGINAL*/

a {
  color:inherit;
}

/*PREVENT HYPERLINKS UNDERLIGN AND DEFAULT COLOR*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*TYPOGRAPHY*/
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 300;
}

.big-heading {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 400;
}

.section-heading {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
    margin: 50px 0;
}

.section-heading-about {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
}

.section-heading-contact {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
    margin: 80px 0;
}

.section-heading-services {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
    padding: 50px 0 0;
}

.left-align {
    text-align: left;
}

.about-caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border {
    background-color: #290001;
    color: #fff;
    padding: 18px;
    display: inline-block;
    border: #290001;
/*
    TESTING
    font-size: 25px;
    letter-spacing: 10px;
*/
}

/*IMAGES*/
.img-small {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  margin: 50px 0;
}

.img-medium {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  margin: 50px 0;
}

.img-large {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin: 50px 0;
}

.bg-home-img-1 {
    background-image: url("../images/cover-piano-trans.png");
    min-height: 100%;
}

.bg-about-img-1 {
    background-image: url("../images/about-us-trans.png");
    min-height: 100%;
}

.bg-about-img-2 {
    background-image: url("../images/tools-trans.png");
    min-height: 400px;
}

.bg-about-img-3 {
    background-image: url("../images/piano-hands-trans.png");
    min-height: 400px;
}

.bg-about-img-1, .bg-about-img-2, .bg-about-img-3, .bg-home-img-1 {
    position: relative;
/*    opacity: 0.65;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*FONTAWESOME*/

.icon {
    color: white;
    transition: transform .2s; /* Animation */
}

.icon:hover {
    color: #dbcbbd;
    transform: scale(1.2);
}

/*BUTTONS*/

.contact-button {
    margin: 15px 0;
}

/*WHATSAPP*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*SECTIONS*/

.white-section {
    background-color: white;
}

.coloured-section {
    background-color: #290001;
    color: #fff;
}

/*VIDEO*/

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

body {
    
}

.container-fluid {
/*    margin: 100px 0;*/
}

/*HOME*/

#home {
    text-align: center;
/*    background-image: url("../images/cover-piano-edit.jpg");*/
    
/*
    Full height 
  height: 100%; 
*/

/*   Center and scale the image nicely */

/*
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover;
*/
}


.landing {
    padding: 0px 0 200px;
    color: white;
}

.img-logo {
/*    width: 100%;*/
    max-width: 25%;
/*    height: auto;*/
    margin: 180px 0 50px;
    filter: invert()
}


/*MEET DEON*/

#meet-deon {
    text-align: center;
    padding: 0 12% 100px;
}

.meet-button {
    margin: 50px 0 0;
}

/*FEATURES*/

#features {
    text-align: center;
}

.feature-set {
  padding: 5%;
}

.feature-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 5% 0 2%;
}

/*PRICING*/

.pricing-title {
    padding: 5% 0 3%; 
}

.pricing-body {
    padding: 0 7%;
}

.pricing-button {
    margin: 0 0 30px;
}

/*TESTIMONIALS*/

#testimonials {
    text-align: center;
}

.testimonial-text {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem;
}

.carousel-text {
    padding: 5% 20%;
}

.testimonial-image {
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

#deon-intro {
/*  position:relative;*/
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*PRICING*/

#piano-pricing {
    text-align: center;
  padding: 1.25rem;
}

#guitar-pricing {
    text-align: center;
  padding: 1.25rem;
}

.pricing-column {
  padding: 2% 3%;
}

.card-img-top {
width: 100%;
height: 40vh;
object-fit: cover;
}

/*CONTACT US*/

#contact-us {
    text-align: center;
    padding: 0 15%;
    
/*
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
*/
}

#contact-us {
    background-color: #290001;
    color: #fff;
    padding: 0 15% 100px;
}

.contact-container {
/*
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
*/
    margin-top: 30px; 
}

/*
.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
*/

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.contact-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact {
    position: relative;
/*    min-height: 100vh;*/
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    background-image:url("../images/cover-piano-edit.jpg");*/
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

/*CONTACT US FORM*/

.contactForm {
/*    width: 40%;*/
    padding: 40px;
    background: #fff;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea 
{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span, 
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span 
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm h2 {
    color:black;
}

/*ABOUT*/
.below-nav {
    margin: 250px 0px 50px;
}

.about-text {
    padding: 2% 0;
    line-height: 1.8;
}

.services-center {
    text-align: center;
    padding: 0 15%; 
}

#services {
    text-align: center;
    padding: 0 10%;
}

.services-set {
  padding: 5% 2%;
}

.services-text {
    padding: 8% 0;
    color: white;
    text-decoration: none;
    transition: transform .2s; /* Animation */
}

.services-text:hover {
    font-weight: 500;
}

#about-contact {
    text-align: center;
    padding: 50px 10%;
}

#facebook {
    text-align: center;
    padding: 0 10%;
}

/*PIANO TUNING SERVICES PAGE*/

.page-center {
    text-align: center;
    padding: 0 12%; 
}

.page-text {
    text-align: center;
    padding: 50px 12%; 
}

.banner {
object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
    padding-top: 50px;
}
    
/* FOOTER */

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #87431d;
    color: #fff;
}

.f-icon {
     padding: 2% 1%;
    margin: 20px 7px;
    transition: transform .2s; /* Animation */
}

.f-icon:hover {
    color: #dbcbbd;
    transform: scale(1.2);
}
 
